<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="login.css">
    </head>
    <body>
        <header>
            <h1 class = "logo">SimpleHealth</h1>
        </header>
        <h1 class = "loginTitle">Login</h1>
        <h1 class = "welcome">Welcome to SimpleHealth</h1>
        <p class = "error">The email and password you entered did not match our records.  Please double-check and try again.</p>
        <form>
            <section class = "emailSection">
                <label for = "email">Email: </label>
                <input type = "text" name = "email" id = "email">
            </section>
            <section class = "passwordSection">
                <label for = "password">Password: </label>
                <input type = "text" name = "password" id = "password">
            </section>

            <section class = "submitContainer">
                <button type = "submit" class = "login">Login</button>
            </section>
        </form>
        <section class = "newUser">
            <a href="login.html" class = "newUserText">Are you a new user? Click here to sign up!</a>
        </section>

    </body>
</html>